
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
}

.counter {
  font-size: 20px;
}

button {
  border: none;
  border-radius: 1px;
  font-size: 30px;
  color: white;
  background-color: rgb(75, 175, 75);
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 102px);
  grid-template-rows: repeat(4, 102px);
  gap: 1px;
}

.tile {
  border: 1px solid blue;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.empty{
  border: 1px solid blue;
  background-color: lightcyan;
}

#message {
  color: green;
}

.crop {
  clip-path: inset(100px 300px 200px 0px);
  transform: translateY(-75px);
}
